body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #c4bf81; /* Matches your image */
  margin: 0;
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; /* Space between rows */
}

.modules-row {
  display: flex;
  gap: 40px; /* Space between modules */
  justify-content: center;
}

.module {
  cursor: pointer;
  width: 120px;
  height: 120px;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.module .icon {
  font-size: 40px; /* Bigger icons */
}

.module p {
  font-size: 16px;
  margin-top: 8px;
  font-weight: 600;
}

.plus-icon {
  font-size: 60px; /* Bigger plus icon */
  
  
}

.plus-icon:active {
    background-color: #bba759; /* Changes to yellow when clicked */
    transform: scale(0.9);
}



.module:hover {
  transform: scale(1.2);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}
